@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100,200,300,400,500,600,700,800,900&display=swap');
:root{
    --global--color-orange:#d7263d;
    --global--color-blue:#0197f6;
    --global--color-white:#fff;
    --global--color-black:#101c36;
    https://designingmedia.com/wordpress/hostiko/layout02/wp-content/themes/hostiko/assets/images/hostiko_2_domain_bg.jpg
}

body{font-family:'Roboto', sans-serif;}
.navbar-default {
    background-color:var(--global--color-white)
}
.navbar-default .navbar-nav>li>a {color:var(--global--color-black)}
.padding_top_70{padding-top:70px;}
.padding_bottom_70{padding-bottom:70px;}
.font-18{font-size:18px;}


.main-header .navbar-brand img{width:70%}
.main-header ul li a{font-size:14px;padding:20px!important;font-weight:500;}
.main-header ul li a:hover{background-color:var(--global--color-orange);color:var(--global--color-white)}
.main-header .dropdown-menu{background-color:var(--global--color-orange);box-shadow:0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);border:none}
.main-header .dropdown-menu a{color:var(--global--color-white);padding:15px 20px!important;line-height:14px;}
#header .navbar.navbar-light, .main-header .dropdown-menu a:hover{background-color:var(--global--color-blue);}
#header .main-navbar-wrapper{background-color:var(--global--color-orange);}
#header .navbar-brand{color:var(--global--color-white)}
#header .navbar-collapse{padding:0!important}
#header .navbar-collapse a{display:block!important;color:var(--global--color-white);padding:20px 15px!important;}
#header .main-navbar-wrapper .dropdown-menu a{font-size:14px;color:#777!important;padding:0!important;text-decoration:none;padding:0 15px!important;line-height:36px;}
#header .navbar-collapse ul li a:hover{background-color:var(--global--color-orange);text-decoration:none;}
#header .main-navbar-wrapper .dropdown-menu li{padding:0}
#header .main-navbar-wrapper .dropdown-menu a:hover{background-color:#eee!important;}
.list-group-item.active{background-color:var(--global--color-blue);}
.btn-success{background-color:var(--global--color-orange);border-color:var(--global--color-orange)}
.btn-success:hover{background-color:var(--global--color-blue);border-color:var(--global--color-blue)}
.card-header{background-color:var(--global--color-blue);color:var(--global--color-white)}
.card-header h4{margin-bottom:0;}

.default_mega_menu{background-color:var(--global--color-white)!important;width:100%;top:56px !important; left:0; border-radius: 4px; box-shadow: 0 22px 15px rgba(0,0,0,.10); border: 1px solid #0069ff; padding: 40px 50px; width: 1140px !important; position: relative;}
.mega-menu:hover .default_mega_menu{display:block!important}
.mega-menu .default_mega_menu .mega_menu_box{width:20%;float:left;}
.mega_menu_box_heading{font-size:16px;line-height:24px;font-weight:600;color:#000;margin-bottom:15px}
.default_mega_menu .list_mega_menu_box li a{font-size:12px;line-height:24px;text-decoration:none;color:#2f395d;font-weight:300;text-transform:capitalize;padding:10px 0!important;transition:all ease-in-out .5s}
.default_mega_menu .badge{margin-left:5px}
.default_mega_menu .sub_mega_menu_box ul li a:hover{color:var(--global--color-blue);background-color:transparent;}
.hosting_dd_menu{width:335px!important;padding:0}
.default_dd_menu .card-header{color:#2f395d;background:#fff!important;border:none;padding:0;border-radius:0;}
.default_dd_menu .btn{padding:0;text-decoration:none;}
.default_dd_menu .card{border-radius:0;}
.default_dd_menu .card-header{font-size:14px;}

.default_dd_menu .btn{color:#404040;width:100%;padding:10px 15px 10px 50px;text-align:left;border:1px solid #eeeff3 !important;border-radius:0;}
.default_dd_menu .btn:before{
content: "";
position:absolute;
background:url("assets/images/megamenu_dd_img01.png");
width: 20px;
height: 16px;
top:16px;
left:10px;
transition: all ease-in-out 0.5s;
}
.hosting_megamenu_dd_body_list{padding:0!important;list-style:none;}
.default_dd_menu .card-body{padding:20px 0!important;text-align:left;}
.default_dd_menu .card ul li a{display:block;font-size: 12px;line-height: 24px;color: #333; display:block;padding: 0 0 0 45px !important;text-transform: capitalize;position: relative;}
.default_dd_menu .card{border:none}
.hosting_megamenu_dd_card01_header .card-header{border:1px solid #eeeff3 !important}
button.dd_collapse_btn[aria-expanded="true"] {background-color:var(--global--color-blue);text-align:left;line-height:20px;color:#fff}
.hosting_megamenu_dd_body_list li a:before{position:absolute;content:"";width: 5px;height: 5px;background-color:var(--global--color-blue);border-radius: 100%;top: 9px;left: 30px;}
.default_dd_menu .card ul li a{color:#404040}


.hosting_megamenu_dd_card01_header h5 .btn:before{position: absolute; content: ""; background: url("assets/images/megamenu_dd_img01.png"); width: 20px; height: 16px; top: 14px; left: 14px; transition: all ease-in-out 0.5s}
.hosting_megamenu_dd_card02_header h5 .btn:before{position: absolute; content: ""; background: url("assets/images/megamenu_dd_img02.png"); width: 20px; height: 20px; top: 14px; left: 14px; transition: all ease-in-out 0.5s}
.hosting_megamenu_dd_card03_header h5 .btn:before{position: absolute; content: ""; background: url("assets/images/megamenu_dd_img03.png"); width: 20px; height: 16px; top: 14px; left: 14px; transition: all ease-in-out 0.5s}
.hosting_megamenu_dd_card04_header h5 .btn:before{position: absolute; content: ""; background: url("assets/images/megamenu_dd_img04.png"); width: 18px; height: 20px; top: 14px; left: 14px; transition: all ease-in-out 0.5s}
.hosting_megamenu_dd_card05_header h5 .btn:before{position: absolute; content: ""; background: url("assets/images/megamenu_dd_img05.png"); width: 20px; height: 20px; top: 14px; left: 14px; transition: all ease-in-out 0.5s}
button.dd_btn01[aria-expanded="true"]:before{background: url("assets/images/megamenu_dd_hover_img01.png") !important; width: 20px; height: 16px; top: 14px; left: 14px}
button.dd_btn02[aria-expanded="true"]:before{background: url("assets/images/megamenu_dd_hover_img02.png") !important;; width: 20px; height: 20px; top: 14px; left: 14px}
button.dd_btn03[aria-expanded="true"]:before{background: url("assets/images/megamenu_dd_hover_img03.png") !important;; width: 20px; height: 16px; top: 14px; left: 14px}
button.dd_btn04[aria-expanded="true"]:before{background: url("assets/images/megamenu_dd_hover_img04.png") !important;; width: 18px; height: 20px; top: 14px; left: 14px}
button.dd_btn05[aria-expanded="true"]:before{background: url("assets/images/megamenu_dd_hover_img05.png") !important;; width: 20px; height: 20px; top: 14px; left: 14px}


/* =================================== Banner ====================================== */

.home-domain-search{background-color:transparent!important;background-image:url("assets/images/hostiko1_homebanner.jpg");}
.home-domain-search .btn-primary,#main-body .btn-outline-primary{background-color:var(--global--color-orange);border-color:var(--global--color-orange)}
.home-domain-search .btn-success,#main-body .btn-outline-primary:hover,.home-domain-search .btn-primary:hover{background-color:var(--global--color-blue);border-color:var(--global--color-blue)}
.home-domain-search h2,#default-captcha-domainchecker, .home-domain-search .btn-link,#main-body .btn-outline-primary{color:var(--global--color-white)}
.primary-content .home .card{min-height:250px;}
.primary-content .home .card:hover{box-shadow:10px 10px 20px rgba(0,0,0,0.1);}
.sidebar .list-group-item.active, .sidebar .list-group-item.active:focus, .sidebar .list-group-item.active:hover{background-color:var(--global--color-blue);border-color:var(--global--color-blue)}



/* =================================== Footer ====================================== */
footer.footer{background-color:var(--global--color-white);}
footer.footer .btn{background-color:var(--global--color-black);}
footer.footer .copyright{color:var(--global--color-black)}
footer.footer .nav-link{color:var(--global--color-white);background-color:#404040;border-radius:4px;}
.footer_logo_box .copyright{font-size:14px;color:var(--global--color-white);line-height:22px;}
.footer_logo_box .copyright span a{color:var(--global--color-blue);}
.footer-box{background-color:var(--global--color-black);}
#hostiko-footer ul li a{font-weight:300;letter-spacing:1px;transition:all ease-in-out .6s;color:#fff}
.footer-box ul li a{font-size:14px;font-weight:300;color:#fff;line-height:2px;}
.footer-box h5{margin-bottom:15px;font-weight:600;}
.footer_info a,.footer-box ul li a:hover{color:var(--global--color-blue)!important}
.footer_info li, .footer_info li span{color:var(--global--color-white);font-size:14px;}
.footer_info li{padding-bottom:10px;}
.footer_social_links li{display:inline-block;margin-right:5px}
.home-domain-search .btn-link{display:inline-block;box-shadow:none;}


@media screen and (max-width:1200px){
    header#header.header .main-navbar-wrapper{padding:.5rem 1rem!important}
    #header .navbar-collapse a{padding:5px 0!important}
    header.header .main-navbar-wrapper .navbar-collapse{padding:.5rem 1rem!important}
    #header .navbar-collapse ul li a:hover{background-color:transparent!important;}
}
@media screen and (max-width:991px){
    .main-header{padding-top:10px;padding-bottom:10px;}
    .main-header .navbar-toggler{padding:.25rem .5rem;background-color:var(--global--color-orange);}
    .main-header .navbar-toggler:focus{outline:none;}
    .main-header .navbar-toggler-icon{background:url(assets/images/mobile_toogle_button.svg);}  
    .main-header .navbar-collapse{position:absolute;right:0;top:100%;background-color:var(--global--color-blue);width: 30%;padding: 10px 0; z-index:9}
    .main-header ul li a{padding:10px 20px!important;color:var(--global--color-white)}
}
@media screen and (max-width:767px){
.footer-box .container{max-width:100%}
.padding_bottom_70{padding-bottom:40px;}
.padding_top_70{padding-top:50px;}
.main-header .navbar-toggler{padding:.25rem .3rem}
}
@media screen and (max-width:576px){
    footer.footer{padding-bottom:50px;}
    .footer_logo_box{text-align:center;}
    .footer_logo_box img{width:30%}
    .footer_box{display:none;}
    .primary-content .home .card{min-height:auto}
    .home-domain-search .p-5{padding:0!important}
    .home-domain-search{padding-top:40px;padding-bottom:40px;}
    .h2, h2{font-size:1.5rem;}
    #default-captcha-domainchecker{font-size:14px;}
    .main-header .navbar-collapse{width:50%;}
}